.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
*/build
target
out
*.iml
*.ipr
*.iws
test-output
test-results
test-tmp
*.class
mods
*/mods
node_modules
data
developer.id
/src/main/resources/view
rev-manifest.json
*.mod.json
gradle*
**/ts/entcore
**/ts/**/*.js
**/ts/*.js
**/ts/**/*.js.map
**/ts/*.js.map
**/template/entcore
**/temp
**/dist
**/.DS_Store
**/view/*.html
src/main/resources/public/js/behaviours.js
.env
dependency-reduced-pom.xml
